* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  color: #1c1c1c;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 15px;
}

.container #file-input{
  height: 30px;
}

.container #img-preview {
  width: 600px;
  height: 600px;
  display: none;
  object-fit: contain;
}


.container .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 450px;
  height: 50px;
}

.container .wrapper button {
  width: 110px;
  height: 30px;
  cursor: pointer;
}
.wrapper .color-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.wrapper .color-display #color-result {
  display: inline-block;
  width: 18px;
  height: 18px;
}

/* Estilização do Footer */
footer {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

a {
    cursor: pointer;
    text-decoration:none;
}

a:hover {
    font-weight: bold;
}