* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Genos', sans-serif;
  color: black;
}

#container {
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 0 15px 0px;
  margin: 0 50px;
  width: 450px;

  border: 1.5px solid #3c3c3c;
  border-radius: 15px;
  background-color: #ffffff;
}

.wrapper .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.wrapper .title h2 {
  padding: 15px;;
}

.wrapper .title {
  font-size: 20px;
}

.wrapper #btn-color {
  padding: 5px 10px;
  margin: 20px 0;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 8px;
}

.wrapper #color-code {
  font-size: 18px;
  display: none;
  height: 30px;
  width: 75px;
  border: 1px solid #3c3c3c;
  border-radius: 6px;
}

.wrapper button {
  cursor: pointer;
}

footer {
  font-size: 18px;
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

a {
    cursor: pointer;
    text-decoration:none;
}

a:hover {
    font-weight: bold;
}

@media screen and (max-width: 500px) {
  .wrapper {
    width: 350px;
  }

  .wrapper .title h2 {
    padding: 10px;;
  }

  .wrapper .title {
    font-size: 16px;
  }
}